# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
devpost_submission_guide.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# python
__pycache__/
*.py[cod]
*$py.class
/python-backend/venv/
/python-backend/.env
/python-backend/.pytest_cache/
