@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 9 10 15;
  --foreground: 243 244 246;
}

body {
  color: rgb(var(--foreground));
  background: #090A0F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* Custom Studio Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #090A0F;
}
::-webkit-scrollbar-thumb {
  background: #222634;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF3600;
}
